.info {
  margin: 30px 0;

  .map {
    float: left;
    width: 50%;

    #staticMap {
      // width: 600px;
      width: 100%;
      height: 350px;
      margin: 0 auto;
    }
  }

  .address {
    float: left;
    width: 50%;
    height: 350px;

    .address-info {
      margin-top: 100px;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      a {
        color: #000;
      }
    }
  }
}

// 미디어쿼리
@media screen and (max-width: 1024px) {
  .info .map #staticMap {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .info .map #staticMap {
    margin-left: 20px;
    width: 300px;
    height: 250px;
  }
  .info .address {
    height: 250px;

    .address-info {
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: 640px) {
  .info {
    margin: 10px 0;

    .map {
      width: 100%;
      margin-bottom: 20px;

      #staticMap {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .info .address {
    width: 100%;
    height: 150px;

    .address-info {
      margin-top: 0;
      font-size: 0.8rem;

      h3 {
        font-size: 1.2rem;
      }
    }
  }
}