.wrapper {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0;

  .menu {
    list-style: none;
    float: left;
    width: 33.33%;
    margin-top: 20px;

    &:last-child {
      margin-right: 0;
    }
    span {
      position: relative;
      display: block;

      img {
        width: 70%;
      }
    } // span

    strong {
      display: none;
    }

    span:hover {
      em {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: 70%;
        height: 100%;
      }

      strong {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1rem;
        border: 1px solid #fff;
        padding: 0.5rem 1rem;
      }
    } //span:hover
  } // .box
}

// 미디어쿼리
@media screen and (max-width: 1024px) {
  .wrapper .menu span:hover strong {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 640px) {
  .wrapper .menu {
    width: 100%;
  }
}