@import '@/assets/scss/abstracts/variables.scss';
@import '@/assets/scss/common.scss';


/* container(가운데) 영역 */
.container {
  position: relative;
  width: 1440px;
  // width: 1024px;
  margin: 0 auto;
}
/* row 영역 */
.row {
  padding: 0 20px;
}

/* a 밑줄 */
a {
  color: #222;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $godaeriRed;
  }
}

h2 {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid #222;
  margin: 10px 0;
}

/* 공통 버튼 */

.button-type01,
.button-type02 {
  width: 150px;
  height: 54px;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}
.button-type01 {
  color: #fff;
  border: 1px solid $godaeriRed;
  background-color: $godaeriRed;
  outline: none;
}
.button-type02 {
  color: $godaeriRed;
  border: 1px solid $godaeriRed;
  background-color: #fff;
  outline: none;
}

/* 모바일 슬라이드 */
.mobile-slide {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
  // position: relative;

  &.slideOn {
    left: 30%;
  }

  ul {
    position: absolute;
    left: 0;
    top: 50px;
    width: 94%;
    padding: 3%;

    li {
      width: 100%;
      padding: 2% 0;
      border-bottom: 1px dashed #222;

      &:last-child {
        border-bottom: none;
      }
    }
    li a {
      display: block;
      padding: 2%;
      font-size: 1rem;
      font-weight: bold;
      width: 96%;
    }
  }
}


/* 레이아웃 */
#app {
  position: relative;
}

#header {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

main {
  margin-top: 70px;
  text-align: center;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid #000;
}

// 미디어쿼리
@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
  }
}
// @media screen and (max-width: 1024px) {
// }
@media screen and (max-width: 960px) {
  .row {
    padding: 0;
  }
  .button-type01,
  .button-type02 {
    margin-right: 10px;
  }
}
// @media screen and (max-width: 768px) {
// }
@media screen and (max-width: 640px) {
  .button-type01,
  .button-type02 {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    font-size: 0.7rem;
  }
  #header {
    height: 50px;
  }
  main {
    margin-top: 50px;
  }
}