@import '@/assets/scss/abstracts/variables';

.user-form {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;

  .field-item input[type='email'],
  .field-item input[type='password'] {
    width: 100%;
    height: 50px;
    padding: 0 5%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    // font-size: 1rem;
    line-height: 20px;
    outline: none;

    &:focus {
      border: 1px solid #222;
    }
  }

  #emailForm {
    margin-bottom: 15px;
  }

  .login-button,
  .signup-button {
    width: 100%;
    height: 54px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
  }

  .login-button {
    color: #fff;
    border: 1px solid $godaeriRed;
    background-color: $godaeriRed;
    outline: none;
  }
  .signup-button {
    color: $godaeriRed;
    border: 1px solid $godaeriRed;
    background-color: #fff;
    outline: none;
  }

  .validation-text {
    margin: 5px 0 15px;
    .warning {
      color: $godaeriRed;
    }
  }
}

// 미디어쿼리
@media screen and (max-width: 768px) {
  .user-form {
    width: 300px;
  }
}
@media screen and (max-width: 640px) {
  .user-form {
    width: 90%;

    .field-item input[type='email'],
    .field-item input[type='password'] {
      font-size: 0.7rem;
      padding: 0 2%;
    }

    .login-button,
    .signup-button {
      font-size: 0.7rem;
    }
  }
}