.post-item {
  .post-title {
    text-align: left;
    padding: 1%;
    border-bottom: 2px solid #222;
    margin-bottom: 20px;

    h3 {
      font-size: 1.5rem;
    }
  }

  .post-itemform {
    .field-item input[type='text'] {
      width: 100%;
      height: 50px;
      padding: 0 1%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: #fff;
      line-height: 20px;
      outline: none;
      margin-bottom: 20px;

      &:focus {
        border: 1px solid #222;
      }
    }
    .field-item textarea {
      resize: none;
      width: 100%;
      height: 300px;
      padding: 1%;
      box-sizing: border-box;
      border: none;
      //   border-radius: 3px;
      background-color: #fff;
      line-height: 20px;
      outline: none;
    }

    .button-list {
      float: right;

      li {
        float: left;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      } //li
    } //.button-list
  }
}

// 미디어쿼리
@media screen and (max-width: 960px) {
  .post-item {
    .post-title {
      margin: 2%;
    }
    .post-itemform {
      .field-item input[type='text'],
      .field-item textarea {
        width: 98%;
      }

      .field-item textarea {
        height: 200px;
      }

      .button-list li {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .post-item {
    .post-title h3 {
      font-size: 1.2rem;
    }

    .post-itemform {
      .field-item input[type='text'],
      .field-item textarea {
        width: 96%;
      }
    }
  }
}